DoAn_CSDL/Web References/LoaiMatHang_wsv/LoaiMatHang_wsv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IsEmpty">
        <s:complexType />
      </s:element>
      <s:element name="IsEmptyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsEmptyResult" type="tns:API_ResultOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="API_ResultOfBoolean">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrCode" type="tns:EnumErrCode" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrDes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RecordCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EnumErrCode">
        <s:restriction base="s:string">
          <s:enumeration value="Error" />
          <s:enumeration value="Fail" />
          <s:enumeration value="Success" />
          <s:enumeration value="Empty" />
          <s:enumeration value="NotYetLogin" />
          <s:enumeration value="ExistMultiOfUnique" />
          <s:enumeration value="DiffrentPass" />
          <s:enumeration value="AlreadyExist" />
          <s:enumeration value="InvalidEndDate" />
          <s:enumeration value="FailUploadImage" />
          <s:enumeration value="SuccessWithEmptyTokenFirebase" />
          <s:enumeration value="PermissionDenied" />
          <s:enumeration value="FailAddNotification" />
          <s:enumeration value="DoesNotExist" />
          <s:enumeration value="ValidateRequiment" />
          <s:enumeration value="SuccessWithFailSomething" />
          <s:enumeration value="NotHaveQuotaToRollback" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetListCombobox">
        <s:complexType />
      </s:element>
      <s:element name="GetListComboboxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListComboboxResult" type="tns:API_ResultOfListOfListCombobox_ettOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="API_ResultOfListOfListCombobox_ettOfInt32">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfListCombobox_ettOfInt32" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrCode" type="tns:EnumErrCode" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrDes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RecordCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfListCombobox_ettOfInt32">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListCombobox_ettOfInt32" nillable="true" type="tns:ListCombobox_ettOfInt32" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListCombobox_ettOfInt32">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayData" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsEmptySoapIn">
    <wsdl:part name="parameters" element="tns:IsEmpty" />
  </wsdl:message>
  <wsdl:message name="IsEmptySoapOut">
    <wsdl:part name="parameters" element="tns:IsEmptyResponse" />
  </wsdl:message>
  <wsdl:message name="GetListComboboxSoapIn">
    <wsdl:part name="parameters" element="tns:GetListCombobox" />
  </wsdl:message>
  <wsdl:message name="GetListComboboxSoapOut">
    <wsdl:part name="parameters" element="tns:GetListComboboxResponse" />
  </wsdl:message>
  <wsdl:portType name="LoaiMatHang_wsvSoap">
    <wsdl:operation name="IsEmpty">
      <wsdl:input message="tns:IsEmptySoapIn" />
      <wsdl:output message="tns:IsEmptySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListCombobox">
      <wsdl:input message="tns:GetListComboboxSoapIn" />
      <wsdl:output message="tns:GetListComboboxSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoaiMatHang_wsvSoap" type="tns:LoaiMatHang_wsvSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsEmpty">
      <soap:operation soapAction="http://tempuri.org/IsEmpty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCombobox">
      <soap:operation soapAction="http://tempuri.org/GetListCombobox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoaiMatHang_wsvSoap12" type="tns:LoaiMatHang_wsvSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsEmpty">
      <soap12:operation soapAction="http://tempuri.org/IsEmpty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCombobox">
      <soap12:operation soapAction="http://tempuri.org/GetListCombobox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoaiMatHang_wsv">
    <wsdl:port name="LoaiMatHang_wsvSoap" binding="tns:LoaiMatHang_wsvSoap">
      <soap:address location="https://localhost:44377/View/LoaiMatHang_wsv.asmx" />
    </wsdl:port>
    <wsdl:port name="LoaiMatHang_wsvSoap12" binding="tns:LoaiMatHang_wsvSoap12">
      <soap12:address location="https://localhost:44377/View/LoaiMatHang_wsv.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>